@charset "utf-8";

body {
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-image: url('blue.jpg');
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.badge-info {
		background-color: #269abc;;
	}
.connection {
		background: #A1A1F9;
	}
.badge-info {
		background-color: #269abc;;
	}
.profile_pic_over{
		border: 2px dashed #ccc; 
		text-align: center;
	}
#prof_pic{
		width: 200px;
		height: 200px;
	}
.drag{
		border: 2px dashed #ccc; 
		text-align: center;
	}